body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #151e28;
}

.header-text {
  color: white !important;
  margin-top: 5px !important;
}

.app-body {
  display: flex;
  padding: 50px;
  justify-content: space-evenly;
}